.cast_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cast_item {
  width: calc((100% - 15px * 8) / 9);
}
.cast_item:not(:nth-child(9n)) {
  margin-right: 15px;
}
.cast_item:not(:nth-last-child(9n)) {
  margin-bottom: 15px;
}
/* .cast_actor_photo {
  width: 116px;
  height: 175px;
} */
